<nz-spin [nzSpinning]="isSpinning">
  <style>
    .booking-container {
      background-color: #f8f8f8;
      min-height: 91vh;
      padding: 24px;
    }

    .booking-card {
      background-color: #ccc;
      padding: 24px;
      border-radius: 10px;
      margin-top: 10px;
    }

    .teal-button {
      background-color: #008080;
      color: white;
      border: none;
      padding: 6px 16px;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      margin-left: 10px;
    }

    .teal-button:hover {
      background-color: #006666;
    }
  </style>

  <div class="booking-container">
    <div *ngFor="let booking of bookings">
      <div class="booking-card" nz-row>
        <div nz-col nzSpan="20">
          <h2 style="cursor: pointer; color: teal;">Booking Status: {{ booking.bookBikeStatus }}</h2>
          <h5>
            Customer Name: <b>{{ booking.username }}</b> - Customer Email: <b>{{ booking.email }}</b> -
            Customer Id: <b>{{ booking.userId }}</b>
          </h5>
          <h5>Booking Id: <b>{{ booking.id }}</b> - Bike Id: <b>{{ booking.bikeId }}</b></h5>
          <h5>
            From Date: <b>{{ booking.fromDate | date: 'dd-MM-yyyy' }}</b> - To Date:
            <b>{{ booking.toDate | date: 'dd-MM-yyyy' }}</b> - No of Days: <b>{{ booking.days }}</b>
          </h5>
          <h5>Total Price: <b>{{ booking.price }} $</b></h5>
        </div>
        <div *ngIf="booking.bookBikeStatus == 'PENDING'" style="text-align: right; margin-top: 10px;">
          <button class="teal-button" nzSize="small" nz-button nzType="primary"
            (click)="changeBookingStatus(booking.id, 'Approve')">
            Approve
          </button>

          <button class="teal-button" nzSize="small" nz-button nzType="primary" nzDanger
            (click)="changeBookingStatus(booking.id, 'Reject')">
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
